version: '2'
services:
    couchdb:
        image: apache/couchdb:latest
        container_name: "couchdb"
        volumes:
          - ./logs:/usr/local/var/log/couchdb
          - ./db/data:/opt/couchdb/data
          - ./db/settings:/opt/couchdb/etc/local.d
        ports:
            - 5984:5984
            - 4369:4369
            - 9100:9100
        env_file: db/settings/couchdb.env.docker

